# -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
# Created by Sam Deane, 23/05/2018.
# All code (c) 2018 - present day, Elegant Chaos Limited.
# For licensing terms, see http://elegantchaos.com/license/liberal/.
# -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details

'context-menu':
  'atom-text-editor': [
    {
      'label': 'Swift IDE'
      'submenu': [
        {
          'label': 'Debug'
          'command': 'swift-ide:debug'
        }
      ]
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Swift IDE'
      'submenu': [
        {
          'label': 'Debug'
          'command': 'swift-ide:debug'
        }
      ]
    ]
  }
]
